{% extends 'base.html.twig' %}

{% block title %}Edit Post{% endblock %}

{% block body %}
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand" >my_blog</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div
                    class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path('post_index') }}">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path('post_new') }}">Add a new article</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="{{ path('app_logout') }}">Logout</a></li>                </ul>
                </ul>
            </div>
        </div>
    </nav>

    <header class="masthead" style="background-image:url('../../assets/img/blog.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div class="site-heading">
                        <h1 class="text-center text-monospace">Edit Article</h1><span class="subheading"></span></div>
                </div>
            </div>
        </div>
    </header>


    {{ include('post/_form.html.twig', {'button_label': 'Update'}) }}
    {{ include('post/_delete_form.html.twig') }}
    <a class="btn btn-outline-secondary btn-sm" href="{{ path('post_index') }}">back to list</a>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <ul class="list-inline text-center">
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
                        <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i class="fa fa-github fa-stack-1x fa-inverse"></i></span></li>
                    </ul>
                    <p class="text-muted copyright">Copyright&nbsp;©&nbsp;my_blog 2021</p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}
